


body{
	background: #EFEFF4;
	color: #333;
}

h1,h2,h3,h4,h5,h6,ul,ol,p{
	margin: 0;
	padding: 0;
}

.mui-bar-nav{
	background: #f7a63d;
	color: #fff;
}
.mui-icon-left-nav{
	color: #fff;
}
.mui-title{
	color: #fff;
	font-size: 1.69rem;
}








#add{
	width: 90%;
	height: 5.38rem;
	line-height: 5.38rem;
	text-align: center;
	display: block;
	background: #fff;
	margin: 1.54rem auto;
	color: #f7a63d;
	font-size: 1.54rem;
	border-radius: 0.77rem;
	text-decoration: none;
}
#add:active{
	background: #eee;
	border: #f7a63d solid 1px;
}

.info{
	width: 96%;
	overflow: hidden;
	display: block;
	margin: 1.54rem auto;
	background: #fff;
	border-radius: 0.77rem;
	position: relative;
	padding: 1.15rem 5%;
}

.info i{
	font-size: 2.31rem;
	color: #999;
	position: absolute;
	top: 40%;
	right: 5%;
}
.info p{
	color: #333;
	font-size: 1.38rem;
	line-height: 2;
}
.info p time{
	color: #333;
	font-size: 1.38rem;
}
.info h2{
	color: #333;
	font-size: 1.69rem;
}

.info section{
	color: #666;
	font-size: 1.38rem;
}















#footer{
	width: 100%;
	overflow: hidden;
	text-align: center;
	background: #fff;
	padding: 1.54rem 0;
}
#footer img{
	display: block;
	width: 16.08rem;
	height: 6.23rem;
	margin: 0 auto 1.54rem auto;
}
#footer p{
	font-size: 1.38rem;
}

















































































