


body{
	background: #EFEFF4;
	color: #333;
}

h1,h2,h3,h4,h5,h6,ul,ol,p{
	margin: 0;
	padding: 0;
}

#top{
	width: 100%;
	height: 7.69rem;
	background: url('../images/top_bg.gif') no-repeat;
	background-size: 100% 100%;
	padding: 2.31rem 0.77rem;
}

#top .logo img{
	display: block;
	float: left;
	width: 8.30rem;
	height: 3.85rem;
	margin-right: 10%;
}

#top a img{
	display: block;
	float: left;
	width: 9.62rem;
	height: 3.08rem;
}

#function{
	height: 4.62rem;
	line-height: 4.62rem;
	background: #f7a63d;
	padding: 0 5% 0 5%;
}
#function img{
	display: block;
	float: left;
	margin-right: 8%;
	margin-top: 1.15rem;
	width: 6.38rem;
	height: 3.15rem;
}
#function .city{
	float: left;
	color: #fff;
	font-size: 1.38rem;
	cursor: pointer;
}
#function .login{
	float: right;
	color: #fff;
	font-size: 1.38rem;
	text-decoration: none;
}

#nav{
	padding: 1.15rem;
	background: #fff;
	overflow: hidden;
}
#nav .infor{
	display: block;
	width: 25%;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #000;
}
#nav .infor img{
	width: 6rem;
	height: 6rem;
	display: block;
	margin: 0 auto 0.77rem auto;
}
#nav .infor p{
	font-size: 1.54rem;
	color: #333;
}

#hot_talent{
	overflow: hidden;
	margin: 1.54rem 0;
	background: #fff;
}
#hot_talent h2{
	height: 3.08rem;
	line-height: 3.08rem;
	border-bottom: #f7a63d solid 1px;
	color: #f7a63d;
	font-size: 1.54rem;
	padding-left: 5%;
}
#hot_talent .info{
	width: 100%;
	height: 8.85rem;
	display: block;
	overflow: hidden;
	padding: 1.15rem 5%;
	border-bottom: #ccc solid 1px;
	text-decoration: none;
	color: #333;
}
#hot_talent .info:active{
	background: #eee;
	border-bottom: #f7a63d solid 1px;
}
#hot_talent .left img{
	float: left;
	width: 7.23rem;
	height: 6.15rem;
	display: block;
	border-radius: 0.77rem;
	margin-right: 3%;
}

#hot_talent .center{
	float: left;
	line-height: 2;
}
#hot_talent .center h3{
	font-size: 1.54rem;
}
#hot_talent .center p{
	font-size: 1.23rem;
	color: #666;
}
#hot_talent .right{
	float: right;
}
#hot_talent .right h3{
	font-size: 1.54rem;
	color: #f7a63d;
	line-height: 4;
}

#footer{
	overflow: hidden;
	text-align: center;
	background: #fff;
	padding: 1.54rem 0;
}
#footer img{
	display: block;
	width: 16.08rem;
	height: 6.23rem;
	margin: 0 auto 1.54rem auto;
}
#footer p{
	font-size: 1.38rem;
}

#fix{
	width: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	z-index: 999;
	bottom: 0;
	padding: 0.77rem 3%;
}
#fix img.fix{
	display: block;
	width: 8.62rem;
	height: 3.46rem;
	float: left;
}
#fix a img{
	display: block;
	width: 9.62rem;
	height: 3.08rem;
	float: right;
	margin-right: 5%;
}
#fix i{
	font-size: 1.54rem;
	color: #fff;
	float: right;
	display: block;
	margin-top: 0.77rem;
}















































































