


body{
	background: #f5f5f5;
	color: #333;
}

h1,h2,h3,h4,h5,h6,ul,ol,p{
	margin: 0;
	padding: 0;
}



.mui-bar-nav{
	background: #f7a63d;
	color: #fff;
}
.mui-icon-left-nav{
	color: #fff;
}
.mui-title{
	color: #fff;
	font-size: 1.69rem;
}


.head_portrait{
	width: 100%;
	height: 6.15rem;
	display: block;
	text-decoration: none;
	background: #fff;
	border-bottom: #eee solid 1px;
	padding: 0.77rem 5% 0 5%;
	position: relative;

}
.head_portrait label{
	font-size: 1.54rem;
	color: #333;
	font-weight: normal;
	line-height: 4.62rem;
}
.head_portrait i{
	text-decoration: none;
	font-size: 2.31rem;
	color: #999;
	position: absolute;
	top: 30%;
	right: 5%;
}

.head_portrait img{
	width: 3.38rem;
	height: 3.38rem;
	display: block;
	margin-right: 7%;
	float: right;
	border-radius: 50%;
	border: #f7a63d solid 1px;
}
.head_portrait span{
	position: absolute;
	bottom: 0;
	right: 2%;
	font-size: 1.08rem;
	color: #777;
}

#sheet a{
	text-decoration: none;
	font-size: 1.54rem;
	color: #f7a63d;
}

section{
	width: 100%;
	height: 4.62rem;
	overflow: hidden;
	background: #fff;
	padding: 0 5%;
	border-bottom: #eee solid 1px;
	position: relative
}

section i{
	text-decoration: none;
	font-size: 2.31rem;
	color: #999;
	position: absolute;
	top: 25%;
	right: 5%;
}
section span{
	width: 30%;
	height: 4.62rem;
	line-height: 4.62rem;
	display: block;
	float: left;
	color: #333;
	font-size: 1.54rem;
	text-align: left;
}
section input[type="text"]{
	width: 70%;
	height: 4.62rem;
	display: block;
	float: left;
	padding-right: 5%;
	border: none;
	color: #666;
	font-size: 1.54rem;
}

section select{
	width: 70%;
	height: 4.62rem;
	display: block;
	float: left;
	padding-right: 5%;
	border: none;
	color: #666;
	font-size: 1.54rem;
}




section .mui-row{
	width: 70%;
	height: 4.62rem;
	display: block;
	float: left;
	text-align: right;
}

section .mui-row .mui-radio{
	display: block;
	float: right;
	line-height: 4.62rem;
}
section .mui-row .mui-radio label{
	font-size: 1.54rem;
	color: #666;
	font-weight: normal;

}
section input[type="radio"]{
	line-height: 3.5rem;
}


input#save{
	width: 90%;
	height: 4.62rem;
	display: block;
	margin: 1.54rem 5%;
	background: #f7a63d;
	font-size: 1.54rem;
	color: #fff;
	letter-spacing: 0.77rem;
}

input#save:focus{
	outline: none;
}



.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{
	font-size: 1.85rem;
}

.mui-radio input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
    color: #f7a63d;
}































#footer{
	width: 100%;
	overflow: hidden;
	text-align: center;
	background: #fff;
	padding: 1.54rem 0;
}
#footer img{
	display: block;
	width: 16.08rem;
	height: 6.23rem;
	margin: 0 auto 1.54rem auto;
}
#footer p{
	font-size: 1.38rem;
}

















































































